pipeline/GET AFAS.json
{
	"name": "GET AFAS",
	"properties": {
		"activities": [
			{
				"name": "Get GetConnectoren with params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Database",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "VW_PipeLineParams",
							"Database": {
								"value": "@pipeline().parameters.Database",
								"type": "Expression"
							},
							"DbUser": {
								"value": "@pipeline().parameters.DbUser",
								"type": "Expression"
							},
							"DbPassword": {
								"value": "@pipeline().parameters.DbPassword",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach row",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get GetConnectoren with params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get GetConnectoren with params').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Get AFAS data",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get AFAS auth",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Default_Get_AFAS_V1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"_applicatieNaam": "AFAS",
									"_onderdeel": {
										"value": "@item().Onderdeel",
										"type": "Expression"
									},
									"GetConnectorId": {
										"value": "@item().getConnector",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().tableName",
										"type": "Expression"
									},
									"Take": {
										"value": "@item().Take",
										"type": "Expression"
									},
									"AfasKlantNr": {
										"value": "@if(contains(item(),'omgeving'), substring(item().omgeving,1,5), pipeline().parameters.AfasKlantNr)",
										"type": "Expression"
									},
									"IsAfasTest": {
										"value": "@pipeline().parameters.IsAfasTest",
										"type": "Expression"
									},
									"Database": {
										"value": "@pipeline().parameters.Database",
										"type": "Expression"
									},
									"DbUser": {
										"value": "@pipeline().parameters.DbUser",
										"type": "Expression"
									},
									"AfasXmlToken": {
										"value": "@if(contains(item(), 'omgeving'), activity('Get AFAS auth').output.value, pipeline().parameters.AfasXmlToken)",
										"type": "Expression"
									},
									"DbPassword": {
										"value": "@pipeline().parameters.DbPassword",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get AFAS auth",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(\n    'https://kv-opt-dossierconversies.vault.azure.net/',\n    'secrets/',\n    if(contains(item(),'omgeving'), item().omgeving, pipeline().parameters.AfasKlantNr),\n    '?api-version=7.3'\n)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Database": {
				"type": "string"
			},
			"DbUser": {
				"type": "string"
			},
			"AfasKlantNr": {
				"type": "string"
			},
			"IsAfasTest": {
				"type": "bool",
				"defaultValue": false
			},
			"DbPassword": {
				"type": "String"
			},
			"AfasXmlToken": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Download"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-02T21:46:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}