pipeline/GetIndexFiles.json
{
	"name": "GetIndexFiles",
	"properties": {
		"activities": [
			{
				"name": "Get FileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "indexfiles",
						"type": "DatasetReference",
						"parameters": {
							"sftpFolderPath": {
								"value": "@pipeline().parameters.sFTPpath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat(\n    'if exists(select 1 from INFORMATION_SCHEMA.TABLES where TABLE_NAME = ''',activity('GetTable').output.firstRow.tableName,''') ', 'truncate table [',activity('GetTable').output.firstRow.tableName,']'\n)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(activity('GetTable').output.firstRow.mapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "indexfiles",
									"type": "DatasetReference",
									"parameters": {
										"sftpFolderPath": {
											"value": "@pipeline().parameters.sFTPpath",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Database",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@activity('GetTable').output.firstRow.tableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetTable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[USP_GETTABLEFROMFILENAME]",
									"storedProcedureParameters": {
										"fileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Database",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "-"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sFTPpath": {
				"type": "string"
			}
		},
		"variables": {
			"Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Index"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-02T14:36:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}